@import '../../theme.scss';

.profile {
    @include themify($themes) {
        $bg: themed("bg");
        $bg1: themed("bgSoft");
        $color: themed("textColor");
        $color1: themed("textColorSoft");
        $border: themed("border");

        background-color: $bg;
        min-height: 100vh;

        .header {
            background-color: $bg1;

            .cover {
                border: 1px solid $border;
                object-fit: cover;
            }

            .profile-details {
                color: $color;

                .profile-img {
                    border: 1px solid $border;
                }

                .mutual-friends {

                    .dot {
                        width: 0;
                        display: block;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: 2px solid $color1;
                    }
                }

                .friends {

                    .friend {
                        background-color: $border;
                        border: 2px solid $bg1;
                
                        &:not(:first-child) {
                            margin-left: -15px;
                        }
                    }

                    .friend-options {

                        button {

                            svg {
                                font-size: 20px;
                            }

                            &:nth-child(1) {
                                background-color: $border;
                            }

                            &:nth-child(2) {
                                background-color: rgb(77, 131, 255);
                            }

                            &:nth-child(3) {
                                background-color: $border;
                            }
                        }
                    }
                }
            }

            .sections {
                border-top: 1px solid $border;
                color: $color1;

                .pages {
                    .active-friend-link {
                        color: $color;

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: $color;
                        }
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 40px;
                    border-radius: 5px;
                    background-color: $border;
                }
            }
        }

        .content {
            padding: 20px 16%;
        }

        .profile-content {
            display: flex;
            gap: 20px;

            .title {
                font-weight: bold;
                font-size: 1.3rem;
                color: $color;
            }

            .menu {
                padding: 10px 15px;
                background-color: $bg1;
                border-radius: 10px;
                color: $color1;

                .menu-top {
                    display: flex;
                    gap: 20px;
                    align-items: flex-end;
                    justify-content: space-between;

                    span {
                        font-size: 14px;
                    }
                }
            }

            .left {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                .intro-text {
                    text-align: center;
                    padding: 10px 0;
                    border-bottom: 1px solid $border;
                }

                .profile-details {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    margin-top: 15px;
                    font-weight: 13px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .bold {
                            font-weight: bold;
                        }
                    }

                    .hobbies {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        li {
                            height: 30px;
                            border-radius: 20px;
                            border: 1px solid $border;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 12px;
                        }
                    }
                }

                .photos {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 8px;
                    margin: 15px 0 5px;

                    .photo {
                        aspect-ratio: 1;
                        border-radius: 8px;
                        border: 1px solid $border;
                    }
                }

                .friend-count {
                    font-size: 12px;
                    color: $color1;
                }

                .friends {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 8px;
                    margin: 15px 0 5px;

                    .friend {

                        img {
                            width: 100%;
                            object-fit: cover;
                            aspect-ratio: 1;
                            border-radius: 8px;
                            border: 1px solid $border;
                        }

                        .name {
                            margin-top: 5px;
                            font-size: 14px;
                        }

                        .mutual-friends {
                            font-size: 12px;
                        }
                    }
                }
            }

            .right {
                flex: 1.5;

                .filter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 10px 4px 7px;
                    border-radius: 5px;
                    background-color: $border;
                    gap: 5px;
                    font-weight: bold;

                    svg {
                        font-size: 1.2rem;
                    }
                }

                .posts {
                    margin-top: 20px;
                }
            }
        }

        .profile-photos {

            .title-filter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                color: $color;
                padding: 10px;
                border-radius: 10px;
                background-color: $bg1;

                h3 {
                    font-size: 1.4rem;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 4px 10px 4px 7px;
                    border-radius: 4px;
                    background-color: $border;
                }
            }

            .photos {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                margin-top: 20px;
    
                .photo {
                    position: relative;
                    color: $color;

                    .type {
                        position: absolute;
                        top: 10px;
                        right: 10px;

                        svg {
                            font-size: 1.8em;
                        }
                    }
    
                    img {
                        width: 100%;
                        aspect-ratio: 1;
                        border-radius: 5px;
                        background-color: $bg1;
                    }
    
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                            transition: 0.3s ease opacity;
                        }

                        .reaction {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                            align-items: center;
                            justify-content: center;
                            width: 65px;
                            height: 65px;
                            border-radius: 10px;
                            background-color: $border;

                            svg {
                                font-size: 2rem;
                            }

                            span {
                                font-size: 1rem;
                            }

                            &:nth-child(1) {
                                color: rgb(255, 123, 123);
                                background-color: rgba(255, 84, 84, 0.2);
                            }
                        }
                    }
                }
            }
        }

        .profile-friends {
            color: $color;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 10px;
                background-color: $bg1;
                border-radius: 10px;

                h3 {
                    font-size: 1.7rem;
                }

                .friend-count {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-size: 14px;

                    .dot {
                        width: 0;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: 2px solid $color;
                    }
                }
            }

            .container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 15px;
                margin-top: 20px;

                .friend {
                    overflow: hidden;
                    border-radius: 8px;
                    background-color: $bg1;

                    img {
                        width: 100%;
                        aspect-ratio: 1;
                        background-color: $border;
                    }

                    .info {
                        padding: 10px;

                        .mutual {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            p {
                                font-size: .9rem;
                                margin-top: 3px;
                            }
                        }
                    }

                    .friends-list {
                        display: flex;
                        align-items: center;

                        .friend-list {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 2px solid $bg1;
                            background-color: $border;

                            &:not(:first-child) {
                                margin-left: -10px;
                            }
                        }
                    }

                    button {
                        margin: 0 10px 10px;
                        display: block;
                        padding: 7px 10px;
                        width: calc(100% - 20px);
                        background-color: rgba(0, 76, 255, 0.4);
                        color:rgb(190, 219, 255);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}