@import "../../theme.scss";

.groups {
    @include themify($themes) {
        $bg: themed("bg");
        $bg1: themed("bgSoft");
        $color: themed("textColor");
        $color1: themed("textColorSoft");
        $border: themed("border");

        background-color: $bg;
        min-height: calc(100vh - 60px);
        color: $color;

        .left {
            flex: 1;
            min-height: calc(100vh - 60px);
            background-color: $bg1;
            border-right: 1px solid $border;

            .top {
                &.menu-top {
                    h3 {
                        font-size: 1.2rem;
                    }

                    p {
                        color: rgb(96, 165, 255);
                    }
                }

                h3 {
                    font-size: 1.5rem;
                }

                button {
                    background-color: $border;

                    svg {
                        font-size: 1.6rem;
                    }
                }
            }

            .search {
                background-color: $border;

                input {
                    color: $color1;
                }
            }

            .section {
                
                .icon {
                    background-color: $border;
                }

                .title {
                    flex: 1;
                    font-size: 1.1rem;
                }

                &:hover,
                &.active_section {
                    background-color: $border;
                }

                &.active_section .icon {
                    background-color: rgb(67, 111, 255);
                }
            }
            
            .create-new {
                background-color: rgba(0, 110, 255, 0.2);
                color: rgb(61, 144, 253);

                svg {
                    font-size: 1.2rem;
                }

                span {
                    font-size: 1.05rem;
                }
            }

            .groups-list {
                border-top: 1px solid $border;

                .group-list {
                    background-color: $border;

                    img {
                        background-color: $bg1;
                    }
                    
                    button {
                        background-color: $bg1;
                    }
                }
            }
        }

        .right {
            flex: 3;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .title {
                font-size: .9rem;
                margin-bottom: 10px;
            }
            
            .content {
                flex: 2;
                margin: 20px 0;
            }

            .right-bar {
                background-color: $bg1;

                .groups-list {

                    .group-list {

                        img {
                            background-color: $border;
                        }

                        button {
                            background-color: rgba(0, 110, 255, 0.3);
                            color: rgb(165, 204, 254);
                        }

                        &:hover {
                            background-color: $bg;
                        }
                    }
                }
            }

            .joined-groups {


                .joined-group {
                        background-color: $bg1;

                        .info {

                            img {
                                background-color: $border;
                            }
                        }

                .actions {

                    button, .btn {
                        background-color: $border;
                        color: $color;

                        &:first-child {
                                background-color: rgba(0, 110, 255, 0.2);
                                color: rgb(96, 165, 255);
                            }
                        }
                    }
                }
            }
        }
    }
}