@import '../../theme.scss';

.friends-page {
    @include themify($themes) {
        $bg: themed('bg');
        $bg1: themed('bgSoft');
        $color: themed('textColor');
        $color1: themed('textColorSoft');
        $border: themed('border');

        color: $color;
        background-color: $bg;

        .left {
            flex: 1;
            background-color: $bg1;
            
            @include tablet {
                background-color: transparent;
                border-bottom: 1px solid $border;
            }

            .search {
                background-color: $border;
            }

            .section {
                a {
                    .icon {
                        background-color: $border;

                        &.last {
                            height: auto;
                            width: auto;

                            * {
                                font-size: 1.8rem;
                            }
                        }
                    }

                    &.active_link {
                        background-color: $border;

                        .icon {
                            @apply bg-gradient-to-br from-blue-500 to-purple-600;
                        }
                    }

                    &:hover {
                        background-color: $bg;
                    }
                }
            }
        }

        .menu-title {
            @apply flex;
            @apply items-center;
            @apply justify-between;
            @apply gap-[20px];

            h3 {
                @apply font-bold;
                @apply text-xl;
            }

            p {
                @apply text-sm;
                color: rgb(73, 73, 200);
            }

            .count {
                @apply flex;
                @apply items-center;
                @apply gap-[5px];

                .dot {
                    @apply w-0;
                    @apply aspect-square;
                    @apply rounded-full;
                    border: 2px solid $color1;
                }
                
                p {
                    color: $color1;
                }
            }
        }

        .container {
            @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-6;

            .friend {
                background-color: $bg1;
                border: 1px solid $border;

                img {
                    background-color: $border;
                }
                
                .close {
                    color: rgb(77, 117, 249)
                }
                
                .dot {
                    background-color: rgb(77, 117, 249);
                }
                
                .friend-list {
                    border: 2px solid $bg1;
                    background-color: $border;
                
                    &:not(:first-child) {
                        margin-left: -10px;
                    }
                }

                button {
                    @apply w-full block py-1 px-2 text-gray-200 rounded-[5px];
                    background-color: rgba(0, 76, 255, 0.4);

                    &.accept {
                        background-color: rgb(77, 117, 249);
                        color: $color1;
                    }

                    &:last-child {
                        background-color: $border;
                        color: $color1;
                    }
                }
            }
        }

        .create-btn {
            background-color: $bg1;
        }
    }
}