@import '../../theme.scss';

.channels {
    @include themify($themes) {
        $bg: themed('bg');
        $bg1: themed('bgSoft');
        $color: themed('textColor');
        $color1: themed('textColorSoft');
        $border: themed('border');

        background-color: $bg;
        color: $color;

        .left-bar {
            background-color: $bg1;

            @include tablet {
                background-color: transparent;
                border-bottom: 1px solid $border;
            }

            .icon {
                background-color: $border;
            }
 
            .search {
                background-color: $border;
            }

            .channel-nav {

                &.active-channel-nav {
                    .icon {
                        @apply bg-gradient-to-br from-purple-400 to-pink-600;
                    }
                }

                &:hover,
                &.active-channel-nav {
                    background-color: $border;
                }
            }

            .create-channel {
                background-color: rgb(25, 44, 82);
                color: rgb(65, 121, 234);
            }

            .bottom {
                border-top: 1px solid $border;

                .bottom-channel {
                    background-color: $border;
                }
            }
        }
    }
}