@import '../../theme.scss';

.shorts {
    @include themify($themes) {
        $bg: themed("bg");
        $bg1: themed("bgSoft");
        $color: themed("textColor");
        $color1: themed("textColorSoft");
        $border: themed("border");
        
        position: absolute;
        display: flex;
        background-color: #101010;
        color: $color;
    }
}