@import '../../theme.scss';

.stories-page {
    @include themify($themes) {
        $bg: themed('bg');
        $bg1: themed('bgSoft');
        $color: themed('textColor');
        $color1: themed('textColorSoft');
        $border: themed('border');

        background-color: $bg;
        color: $color;

        .top {

            a {
                background-color: $border;

                svg {
                    font-size: 1.8rem;
                }
            }
        }

        .bottom {

            .story {
                background-color: $bg;
                
                .user-profile {
                    border: 3px solid $color;

                    img {
                        background-color: $border;
                    }
                }
            }

            .main-story {
                background-color: $bg1;

                .durations {

                    .duration {
                        background-color: $border;

                        .length {
                            background-color: $color;
                        }
                    }
                }

                .details-action {

                    img {
                        background-color: $bg;
                    }

                    .time {
                        color: $color1;
                    }

                    button {
                        @apply flex items-center justify-center w-[30px] h-[30px] rounded-full;

                        &:hover {
                            background-color: $border;
                        }
                    }
                }

                .reply {

                    input {
                        border: 2px solid $border;
                    }

                    button {
                        @apply flex items-center justify-center h-[40px] w-[40px] rounded-full;
                    
                        &:hover {
                            background-color: $border;
                        }
                    }
                }
            }
        }
    }
}